<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Name
        </th>
        <th scope="col" class="px-6 py-3">
          City
        </th>
        <th scope="col" class="px-6 py-3">
          Address
        </th>
        <th scope="col" class="px-6 py-3">
          Email
        </th>
        <th scope="col" class="px-6 py-3">
          Phone
        </th>
        <th scope="col" class="px-6 py-3">
          Website
        </th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company|  %>
        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= company.name %>
          </th>
          <td class="px-6 py-4">
            <%= company.city %>
          </td>
          <td class="px-6 py-4">
            <%= company.address %>
          </td>
          <td class="px-6 py-4">
            <%= company.email %>
          </td>
          <td class="px-6 py-4">
            <%= company.phone %>
          </td>
          <td class="px-6 py-4">
            <%= company.website %>
          </td>
          <td class="px-6 py-4">
            <%= link_to 'Edit', edit_company_path(company), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
          </td>
          <td class="px-6 py-4">
            <%= button_to 'Delete', company_path(company), method: :delete, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
